.wpzoom-blocks_portfolio-block {
	font-size: 1rem;

	* {
		font-size: inherit;
	}

	.wpzoom-blocks_portfolio-block_filter {
		padding: 0;
		margin: 0 0 3em;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				display: inline-block;
				list-style: none;
				opacity: 0.8;
				padding: 0;
				margin: 0;

				&:hover {
					opacity: 1;
				}

				&.current-cat {
					pointer-events: none;
					opacity: 1;

					a {
						background-color: #444 !important;
					}
				}
			}
		}
	}

	&.layout-grid .wpzoom-blocks_portfolio-block_items-list {
		display: grid;
		gap: 2em;
	}

	&.layout-grid.columns-1 .wpzoom-blocks_portfolio-block_items-list { grid-template-columns: repeat(1, 1fr); }
	&.layout-grid.columns-2 .wpzoom-blocks_portfolio-block_items-list { grid-template-columns: repeat(2, 1fr); }
	&.layout-grid.columns-3 .wpzoom-blocks_portfolio-block_items-list { grid-template-columns: repeat(3, 1fr); }
	&.layout-grid.columns-4 .wpzoom-blocks_portfolio-block_items-list { grid-template-columns: repeat(4, 1fr); }
	&.layout-grid.columns-5 .wpzoom-blocks_portfolio-block_items-list { grid-template-columns: repeat(5, 1fr); }
	&.layout-grid.columns-6 .wpzoom-blocks_portfolio-block_items-list { grid-template-columns: repeat(6, 1fr); }
	&.layout-grid.columns-7 .wpzoom-blocks_portfolio-block_items-list { grid-template-columns: repeat(7, 1fr); }
	&.layout-grid.columns-8 .wpzoom-blocks_portfolio-block_items-list { grid-template-columns: repeat(8, 1fr); }
	&.layout-grid.columns-9 .wpzoom-blocks_portfolio-block_items-list { grid-template-columns: repeat(9, 1fr); }
	&.layout-grid.columns-10 .wpzoom-blocks_portfolio-block_items-list { grid-template-columns: repeat(10, 1fr); }

	.wpzoom-blocks_portfolio-block_items-list {
		list-style: none;
		padding: 0;
		margin: 0;

		.wpzoom-blocks_portfolio-block_item {
			list-style: none;
			padding: 0;
			margin: 0;

			.wpzoom-blocks_portfolio-block_item-thumbnail {
				margin: 0 0 1em;

				a {
					display: block;
					padding: 0;
					margin: 0;
				}
			}

			.wpzoom-blocks_portfolio-block_item-title {
				font-size: 4em;
				padding: 0;
				margin: 0 0 0.3em;
			}

			.wpzoom-blocks_portfolio-block_item-meta {
				font-size: 1.6em;
				padding: 0;
				margin: 0 0 1em;

				.wpzoom-blocks_portfolio-block_item-author,
				.wpzoom-blocks_portfolio-block_item-date {
					display: inline-block;
					font-family: inherit;
					font-size: inherit;
					font-weight: inherit;
					font-style: inherit;
					color: inherit;
					padding: 0;
					margin: 0 1em 0 0;

					&:last-child {
						margin-right: 0;
					}

					a {
						color: inherit;
						opacity: 0.5;
					}

					a::before {
						content: '';
						display: inline-block;
						font-family: 'dashicons';
						vertical-align: middle;
						padding: 0;
						margin: 0 0.3em 0 0;
					}

					a:hover, a:active {
						opacity: 1;
					}
				}

				.wpzoom-blocks_portfolio-block_item-author a::before {
					content: '\f110';
				}

				.wpzoom-blocks_portfolio-block_item-date a::before {
					content: '\f508';
				}
			}

			.wpzoom-blocks_portfolio-block_item-content {
				font-size: 2em;
				padding: 0;
				margin: 0;

				*:last-child {
					margin-bottom: 0;
				}
			}

			.wpzoom-blocks_portfolio-block_item-readmore-button {
				padding: 0;
				margin: 2em 0 0;

				a {
					font-size: 1.5em;
				}
			}
		}
	}

	.wpzoom-blocks_portfolio-block_view-all {
		text-align: center;
		padding: 0;
		margin: 3em 0 0;
	}
}